/*!
Theme Name: Mogel
Template: Divi
Text domain: mogel
Theme URI: http://www.webthenet.co.il
Version: 3.21
Description: A theme for mogel.
Author: WebTheNet
Author URI: http://www.webthenet.co.il
Tags: responsive-layout, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, featured-images, full-width-template, post-formats, rtl-language-support, theme-options, threaded-comments, translation-ready
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*
#5D6675 main
#42B990 sub 
*/

div.wpforms-container-full .wpforms-form .mogel-form-rtl .wpforms-one-half {float: right}
div.wpforms-container-full .wpforms-form .mogel-form-rtl .wpforms-one-half:not(:first-of-type) {margin-right: 4%; margin-left: 0;}
div.wpforms-container-full .wpforms-form .wpforms-page-indicator.connector div.wpforms-page-indicator-page {float: right;}
div.wpforms-container-full .wpforms-form .wpforms-field-label.wpforms-label-hide, div.wpforms-container-full .wpforms-form .wpforms-field-sublabel.wpforms-sublabel-hide {display: none;}